{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Восточный крепеж</h1>
    <p class="lead">Широкий ассортимент крепежных изделий</p>
</div>
<div class="container mt-5">
    <div class="row g-4">
        {% for product in products %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
            <div class="card flex-fill text-center shadow-sm h-100">
                   {% if product.image %}
                      <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                      <img src="{% static 'img/default-product.jpg' %}" alt="Нет изображения">
                    {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-truncate">{{ product.name }}</h5>
                    <p class="card-text small text-muted" style="min-height: 40px;">
                        {{ product.description|truncatechars:100 }}
                    </p>
                    <div class="d-grid gap-2">
                        <a href="/product/{{ product.id }}/" class="btn btn-secondary mt-auto">
                            Посмотреть товар
                        </a>
                         <a href="/product/{{ product.id }}/update/" class="btn btn-secondary mt-auto">
                             Редактировать
                        </a>
                        <a href="/product/{{ product.id }}/delete/" class="btn btn-danger mt-auto">
                             Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
     {% if page_obj.has_other_pages %}
        <nav aria-label="Навигация по страницам" class="mt-5">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">‹</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">›</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}


